* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #828282;

}

main {
  width: 626px;
  margin: 64px auto;
}

#img {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  margin-bottom: 16px;
  font-weight: normal;
  color: #3F3D56;
  font-size: 32px;
  line-height: 40px;
}

h1 span {
  color: #EE24FF;
  font-weight: bold;
}

p {
  font-size: 15px;
  line-height: 22px;
  width: 540px;
  margin: auto;
}

p span {
  color: #3F3D56;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}

#second {
  margin-top: 32px;
  font-size: 15px;
  line-height: 20px;
}

.line {
  max-width: 391px;
  height: 0px;
  margin: 0 auto 16px;
  border: 1px solid #ECEFF2;
}

ul {
  display: flex;
  justify-content: center;
  gap: 42px;
  list-style: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: #3F3D56;
  font-size: 15px;
  line-height: 147.68%;
  font-weight: bold;
}

#wave {
  width: 100%;
  margin-bottom: -6px
}